<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @todo.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @todo.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="todo[content]" class="fieldLabel">Content</label>
            <input type="text" id="todo[content]" name="todo[content]" <%= placeholder("Content") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="todo[done]" class="fieldLabel">Done</label>
            <input type="text" id="todo[done]" name="todo[done]" <%= placeholder("Done") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
