<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @todo.content %></h1>
    <%= link_to "Edit", :action => :edit, :id => @todo.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Content</td>
        <td class="itemValue"><%= @todo.content%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Done</td>
        <td class="itemValue"><%= @todo.done%></td>
      </tr>
      
    </table>
  </div>

</div>
