<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @todo.content %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @todo.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Content</div>
            <div class="itemValue"><%= @todo.content %></div>
          </li>
      
          <li>
            <div class="itemLabel">Done</div>
            <div class="itemValue"><%= @todo.done %></div>
          </li>
      
    </ul>
  </div>

</div>
